@import "https://fonts.googleapis.com/css2?family=Anton&display=swap:wght@700&family=Raleway:wght@400;900&display=swap";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Anton', sans-serif; 
    padding: 12px;
    font-size: 60px;
}



h3, h4 {
    font-family: 'Anton', sans-serif;
}

.small {
    font-size: 20px;
}
/*
.navbar {
    display: flex;
}
*/
.navbar a {
    padding: 12px;
    font-family: 'Anton', sans-serif;
}

.heading a {
text-decoration: none;
}

a:hover {
    color:purple;
    text-decoration: solid underline purple 4px;
    transition: color .15s ease-in-out,
    -background-color .15s ease-in-out,
    -border-color .15s ease-in-out;
}

.flashes h4 {
    line-height: 20px;
    margin-top  : 50px;
    color: purple;
    font-family: 'Anton', sans-serif; 
}

.profile-group {
    margin: 0 auto;
    max-width: 70%; 
}

.card-reviews {
    padding: 5px;
}

/* Form */

.form {
    margin-top: 15px;
}

.form-group {
    margin: 0 auto;
    max-width: 70%;
}

.form-button {
    margin-top: 25px;
    padding-bottom:15px;
}

.bg-hero {
    height: 80vh;
    background: url('../images/hero_drinks.jpg') no-repeat center center fixed;
    background-size: cover;
    display:flex;
}

/* Buttons */

.btn {
    border:none;
    font-family: 'Anton', sans-serif;  
}

.btn:hover {
    background-color: purple;
    box-shadow: none;
}

/* Footer */

.footer-container {
    margin-top: 30px;
    background-color:lightgray;
}

.copyright-container {
    text-align: center; 
}


.social-links li a i {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    text-align: center;
    color:white;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: purple;
}

/* Media queries */

@media(min-width: 992px) {
    .form-group {
        padding-top:30px;
        margin: 0 auto;
        max-width: 50%;
        min-height:240px;
    }
}