@import "https://fonts.googleapis.com/css2?family=Anton&display=swap:wght@700&family=Raleway:wght@400;900&display=swap";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	width: 100%;
	height: 450px;
	object-fit: cover;
	overflow: hidden;
}

.bg-img {
	height: 700px;
}

ul {
	display: table;
	margin: 0 auto;
}

.link-text {
	color: black;
}

.link-text:hover {
	color: #DC0073;
}

.card-reviews {
	padding: 20px;
	border: solid 1px #DC0073;
}

.main {
	background-color: #DC0073;
}

.border {
	border: solid 3px black;
}


/* ---------- Fonts ---------- */

h1,
h3,
h4 {
	font-family: 'Anton', sans-serif;
}

.flashes h4 {
	line-height: 20px;
	margin-top: 50px;
	color: #DC0073;
	font-family: 'Anton', sans-serif;
}


/* ---------- Navigation Bar ---------- */

.header-h1 {
	font-family: 'Anton', sans-serif;
	padding: 12px;
	font-size: 60px;
}

.navbar {
	background-color: #F5B700;
}

.navbar a {
	padding: 12px;
	font-family: 'Anton', sans-serif;
}

.heading-link:hover {
	text-decoration: none;
	color: black;
}

.navbar a:hover {
	color: #DC0073;
	text-decoration: solid underline #DC0073 4px;
	transition: all 0.15s ease-in-out;
}

.active {
	color: black !important;
}

.heading-link {
	color: black;
}


/* ---------- Delete Modal ---------- */

li.modal.open {
	margin: auto;
}

.modal {
	border-radius: 20px;
	font-weight: 700;
	height: auto;
	padding: 20px;
}

.modal h4 {
	font-size: 1.8rem;
	margin: 0;
}

.modal .modal-footer {
	text-align: center;
}


/* ---------- Form ---------- */

.form {
	margin-top: 15px;
	height: 100vh;
}

.form-group {
	margin: 0 auto;
	max-width: 70%;
}

.form-button {
	margin-top: 25px;
	padding-bottom: 15px;
}

.form-container {
	margin: auto 0;
}

.form-control {
	height: 100%;
}


/* ---------- Buttons ---------- */

.btn {
	border: none;
	font-family: 'Anton', sans-serif;
}

.btn:hover {
	background-color: #DC0073;
	box-shadow: none;
}


/* ---------- Footer ---------- */

.footer-container {
	margin-top: auto;
	background-color: #F5B700;
}

.copyright-container {
	text-align: center;
}

.social-links li a i {
	margin-top: 20px;
	width: 40px;
	height: 40px;
	padding: 16px 0;
	border-radius: 50%;
	font-size: 20px;
	line-height: 9px;
	text-align: center;
	color: white;
	background: #000000;
	transition: all 0.15s ease-in-out;
}

.social-links li a i:hover {
	background: #DC0073;
}


/* ---------- Media Queries ---------- */

@media(min-width: 992px) {
	.form-group {
		padding-top: 30px;
		margin: 0 auto;
		max-width: 50%;
		min-height: 240px;
	}
	@media(min-width: 992px) {
		.main {
			padding-bottom: 20px;
		}
	}
}