<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="static/images/favicon.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Best Bars</title>
</head>

<body>
    <header>
        <!-- heading -->
        <div class="container heading-container container-fluid mx-0">
            <div class="row">
                <div class="col-12 col-md-4">
                  <h1>BEST BARS 2021</h1>
                  </div>
                  <div class="col-12 col-md-8 pt-3 pe-1">
                      <p>Welcome to the this cocktail and bar loving website that wants you to help us find the best bars and cocktails in the world. 
                          Inspired by Hollywood and created in the stars, this website consists of fun facts, recipes and of course reviews submitted by you! 
                          We hope to be Iconic as the Sidecar, Dizzying as Death in the Afternoon and as Standard as a Manhattan.</p>
                  </div>
                
            </div>
        </div>
        <!-- navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
                        <li id="menu-item-1" class="nav-item  menu-item-1"><a href="{{ url_for('index') }}"
                                class="nav-link">HOME</a>
                        </li>
                        <li id="menu-item-7"
                            class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-4"><a
                                href="{{ url_for('get_reviews') }}" class="nav-link">REVIEWS</a></li>
                        {% if session.user %}
                        <li id="menu-item-5"
                            class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-4"><a
                                href="{{ url_for('write_review') }}" class="nav-link">WRITE REVIEW</a></li>
                        <li id="menu-item-6"
                            class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-4"><a
                                href="{{ url_for('logout', username=session['user']) }}" class="nav-link">LOG OUT</a>
                        </li>
                        
                        {% else %}
                        
                        <li id="menu-item-2"
                            class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-2"><a
                                href="{{ url_for('login') }}" class="nav-link">LOGIN</a></li>
                        <li id="menu-item-3"
                            class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-3"><a
                                href="{{ url_for('register') }}" class="nav-link">REGISTER</a></li>
                        {% endif %}
                        <!--search button-->
                        <form action="{{ url_for('search') }}" method="POST" class="d-flex">
                            <input class="form-control me-2" type="text" name="query" id="query" placeholder="Search Bars" aria-label="Search">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes text-center">
            <h4>{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <section class="container-fluid footer-container">
            <div class="row">
                <div class="social-container text-center">
                    <ul class="list-inline social-links">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://whiteguide.com/">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                <span class="sr-only">White Guide</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="copyright-container mx-auto">
                        <p> © Best Bars 2021</p>
                    </div>
                </div>
            </div>
      </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
       {% block scripts %}
    {% endblock %}
</body>

</html>