{% extends "base.html" %}
{% block content %}

<h3 class="text-center mt-4">Edit Review</h3>

  <section class="container-fluid form-container">
      <div class="form-group">
     
        <div class="row">
          <div class="col">
            <form method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
              <input type="text" class="form-control" name="bar_name" id="name" value="{{ review.bar_name }}" placeholder="Bar Name" required />
              <textarea rows="5" class="form-control" name="review" id="review" placeholder="Review" required >{{ review.review }}</textarea>
              <input type="text" class="form-control" name="fav_drink" id="fav_drink" value="{{ review.fav_drink }}" placeholder="Fav Drink" required />
                <input type="text" class="form-control" name="location" id="location" value="{{ review.location }}" placeholder="Location" required />
              <div class="row text-center">
                <div class="col form-button">
                    <a href="{{ url_for('get_reviews') }}" class="btn btn-dark">Cancel</a>
                    <button type="submit" class="btn btn-dark">Done</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
                              