{% extends "base.html" %}
{% block content %}

<h4 class="text-center mt-4">LOG IN</h4>

<div class="form-container container-fluid">
  <div class="row form-group">
    <div class="col">
        <form method="POST" action="{{ url_for('login') }}">
              <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="15" placeholder="Username" required />
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
              <div class="row text-center">
                <div class="col form-button">
                  <button type="submit" class="btn btn-dark">Log In</button>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>

   <div class="row">
      <div class="col">
          <p class="text-center">
              Is it your first time? <a href="{{ url_for('register') }}" class="text-decoration-none fst-italic link-text">Register here</a>
            </p>
          </div>
      </div>

{% endblock %}