{% extends "base.html" %}
{% block content %}

<div class="card container-fluid mt-50" style="max-width: 540px;">
  <div class="row">
    <div class="col-md-8">
        <form method="POST" action="{{ url_for('register') }}">
              <input type="text" class="form-control" id="name" placeholder="Name" required />
              <input type="email" class="form-control" id="emailaddress" placeholder="Email" required />
              <input type="password" class="form-control" id="password" placeholder="Password" required />
              <div class="row text-center">
                <div class="col form-button">
                  <button type="submit" class="btn btn-secondary button-cta">Send!</button>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}