{% extends "base.html" %}
{% block content %}

<!-- Title -->
<h4 class="text-center mt-4">REGISTER</h4>

<!-- Registration Form -->
<div class="form-container">
  <div class="row form-group">
    <div class="col">
        <form method="POST" action="{{ url_for('register') }}">
              <input type="text" class="form-control" id="username" name="username" minlength="2" maxlength="20" placeholder="Username" required />
              <input type="email" class="form-control" id="emailaddress" name="email" minlength="10" placeholder="Email" required />
              <input type="password" class="form-control" id="password" name="password" minlength="2" maxlength="20" placeholder="Password" required />
              <div class="row text-center">
                <div class="col form-button">
                  <button type="submit" class="btn btn-dark">Register</button>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>

  <!-- Link to Log In -->
    <div class="row">
      <div class="col">
          <p class="text-center">
              Already a member? <a href="{{ url_for('login') }}" class="text-decoration-none font-italic link-text">Log in to write a review</a>
            </p>
          </div>
      </div>
  
{% endblock %}