{% extends "base.html" %}
{% block content %}

<h3 class="text-center mt-4">Reviews</h3>

<div class="container container-fluid">
    <div class="row">

        {% for reviews in reviews %}
        <div class="col-12 col-md-6 mt-3 card-reviews text-center">
            <div class="card-body">
                <dl class="list-group list-group-flush">
                    <dt>BAR NAME</dt>
                    <dd class="list-group-item">{{ reviews.bar_name }}</dd>
                    <dt>REVIEW</dt>
                    <dd class="list-group-item">{{ reviews.review }}</dd>
                    <dt>FAV DRINK</dt>
                    <dd class="list-group-item">{{ reviews.fav_drink }}</dd>
                    <dt>LOCATION</dt>
                    <dd class="list-group-item">{{ reviews.location }}</dd>
                    <dt>REVIEWED BY</dt>
                    <dd class="list-group-item">{{ reviews.created_by }}</dd>
                </dl>
                {% if session.user|lower == reviews.created_by|lower %}
                <a href="{{ url_for('edit_review', review_id=reviews._id) }}" class="btn btn-dark">Edit</a>
                <a href="{{ url_for('delete_review', review_id=reviews._id) }}" class="btn btn-dark">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}