{% extends "base.html" %}
{% block content %}

<h3 class="text-center mt-4">Write Review</h3>
<!-- Form -->
  <section class="container-fluid form-container">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <form method="POST" action="{{ url_for('write_review') }}">
              <input type="text" class="form-control" name="bar_name" id="name" placeholder="Bar Name" minlength="5" maxlength="30" required />
              <textarea rows="5" class="form-control" name="review" id="review" placeholder="Review" minlength="5" maxlength="300" required ></textarea>
              <input type="text" class="form-control" name="fav_drink" id="fav_drink" placeholder="Fav Drink" minlength="5" maxlength="50" required />
                <input type="text" class="form-control" name="location" id="location" placeholder="Location" minlength="5" maxlength="40" required />
              <div class="row text-center">
                <div class="col form-button">
                  <button type="submit" class="btn btn-dark">Submit!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}